{% extends 'base.html' %} 


{% block title %}ABOUT US{% endblock title %}

{% block body %} 
<div class="about-section">
    <figure>
        <blockquote class="blockquote">
        <h1>About this site:-</h1>
          <p class="mb-0">This website is created with the purpose to solve the issue of farmers dealing with the price indiffrences during selling of crops</p>
        
        </blockquote>
        <figcaption class="blockquote-footer">
          Our team's motto<cite title="Source Title">[ KAM ]</cite>
        </figcaption>
      </figure>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Mayank Dashore</h2>
          <p class="title">Team Member</p>
          <p>Student of 5th sem at BIT DURG.</p>
          <p>dashore.mayank@gmail.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Anubhav Agrawal</h2>
          <p class="title">Team Member</p>
          <p>Student of 5th sem at BIT DURG.</p>
          <p>anubav.zapak@gmail.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Kaustubh Agrawal</h2>
          <p class="title">Team Member</p>
          <p>Student of 5th sem at BIT DURG.</p>
          <p>kaustubh.agrawal@gmail.com</p>
        </div>
      </div>
    </div>
  </div>




{% endblock body %}