<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock title %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='base.css') }}"
        />
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}" ></script>
    </head>
    <body>
        <!-- Nav bar section -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">KAM</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                >Sign up</a
                            >
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">As Farmer</a>
                                <a class="dropdown-item" href="#">As Buyer/Trader</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                >Sign in</a
                            >
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">As Farmer</a>
                                <a class="dropdown-item" href="#">As Buyer/Trader</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About us</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input
                            class="form-control me-sm-2"
                            type="text"
                            placeholder="Search"
                        />
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container mt-3">
            {% block body %} {% endblock body %}
        </div>
    </body>
</html>
